
<%= render 'share/errors', obj: @rutine %>

<%= form_for @rutine do |f| %>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">
      <%= f.label :exercise %>
    </label>
    <div class="col-sm-4">
      <%= f.text_field :exercise, type:"text", class:"form-control", placeholder:"Exercise Name", autofocus: true %>
    </div>
  </div> 

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">
      <%= f.label :sets %>
    </label>
    <div class="col-sm-4">
      <%= f.text_field :sets, type:"number", class:"form-control", placeholder:"Sets" %>
    </div>
  </div> 

  <div class="form-group row">
    <label class="col-sm-2 col-form-label">
      <%= f.label :reps %>
    </label>
    <div class="col-sm-4">
      <%= f.text_field :reps, type:"number", class:"form-control", placeholder:"Reps" %>
    </div>
  </div> 

  <div class="form-group">
    <div class="col-sm-10">
      <%= f.submit 'Save', class:"btn btn-sm btn-success" %>
    </div>
  </div>   


<% end %>